streamlit==1.37.1
pandas==2.2.2
numpy==1.26.4
plotly==5.23.0
scikit-learn==1.5.1
scipy==1.17.1
joblib==1.4.2
requests==2.32.3
apscheduler==3.10.4
spacy==3.7.5
python-jobspy==1.1.77
PyYAML==6.0.2
pypdf==5.6.0
python-docx==1.2.0
